%h1 Todo 

#new_todo
  =form_for [:user, @todo], :remote => true do |f|
    %p
      =f.text_field :summary
    %p
      =f.text_area :detail
    %p
      =f.submit
    
#todos
  - @todos.reverse.each do |todo|
    -div_for todo do
      %h2= link_to(todo.summary)
      %p= simple_format(todo.detail)
      %div[todo, dom_id(current_user)]
        "progress is #{todo.progress}"

%br
